{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
     
        {% for message in app.session.flashbag().get('status') %}
                <div class="alert alert-success"> 
                    {{ message}}
                </div>
        {% endfor %}
        
       
        
        {% for entry in entries %}
                <div class="col-lg-11"> 
                        <p> <img class="pull-left" style="margin-right: 20px" width="200px" src=" {{ asset("uploads/"~entry.image) }} "/> </p>
                        <p><strong>{{ entry.title }} </strong></p>
                        <p>{{ entry.category.name }} </p>
                        <p>
                                    {% for et in entry.entryTag %}
                                            {{ et.tag.name }}
                                    {% endfor %}
                        </p>
                        
                        <hr/>
                        <div class="clearfix"></div>
                </div>
                        
                <!--<div class="clearfix"></div>-->
        {% endfor %}
        
        
        
{% endblock %}