{# empty Twig template #}
<h2>Formulario con Symfony 3</h2>
{% if(status != null) and (data != null)%}
    <h3>{{status}}</h3>
    {{dump(data)}}
{% endif%}


{{form_start(form, {'action':'', 'method':'POST'})}}
    {{form_errors(form)}}
    {{form_widget(form)}}
<!--<label>
    Campo Titulo:
    {#{form_errors(form.titulo)}#}
    {#{form_widget(form.titulo)}#}
</label>-->
{{form_end(form)}}